* {
	margin: 0px;
	padding: 0px;
	font-family: Century Gothic;
	overflow: hidden;
}

#splashScreen {
	background-color: white;
	width: 100%;
	height: 100%;
	text-align: center;
	float: left;
	position: absolute;
	z-index: 45;
}


div#mp3_player1{ width:300px; height:160px; background:#000; padding:5px; margin:50px auto; }
div#mp3_player1 > div > audio{  width:300px; background:#000; float:left;  }
div#mp3_player1 > canvas{ width:300px; height:100px; background:#002D3C; float:left; }

/* Statistics Board */
#stats {
	background-color: rgba(0,0,0,0.4);
	text-align: center;
	color: white;
	font-size: 1em;
	padding: 10px;
	width: 100px;
	border-radius: 10px;
	margin: 20px;
	position: absolute;
	float: left;
}

#vibrator {
	padding: 10px;
	border-radius: 5px;
	border: none;
	color: white;
	background-color: black;
	outline: none;
}

#vibrator:hover {
	color: black;
	background-color: white;
}

/* Game play */
#leftTable {
	width: 49%;
	height: 70%;
	background-color: white;
	float: left;
	border: solid 1px black;
	margin-left: 1%;
	text-align: center;
}

#rightTable {
	width: 49%;
	text-align: center;
	height: 70%;
	background-color: white;
	float: left;
	border: solid 1px black;
}

.volumeToggle {
	width: 70px;
	height: 70px;
	background-color: white;
	border: 1px black dashed;
	padding: 10px;
}

#songBoardLeft, #songBoardRight, #songList {
	width: 33%;
	background-color: black;
	height: 30%;
	color: white;
	text-align: center;
	float: left;
	border: solid 1px black;
}

#songList {
	background-color: white;
	text-align: center;
}

.songbuttons {
	width: 25%;
	height: 25%;
	border: 1px solid white;
	float: left;
	padding: 10px;
	background-color: #00FFFF;
	color: white;
	outline: none;
}

.songbuttons:hover{
	color: black;
	background-color: white;
}

.turnTableImg {
	margin: 3%;
	width: 50%;
}
